*Makefile
*moc_*.cxx_parameters
*.a
html/
*CMakeCache.txt
*.cmake
*install_manifest.txt
*CMakeFiles
*.vcxproj
*.vcxproj.*
/Win32
/x64/
/lib
/regen/Debug/
/regen/regen.dir/
/*.sdf
/*.opensdf
/*.sln
/*.suo
/_CPack_Packages
/regen-0.1.0-Linux.tar.gz
/regen-debug.log
/regen-error.log
/regen-info.log
/res/
/cmake-build-debug/
/cmake-build-release/
